@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Write your own custom component styles here */
/* .btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
} */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* Fonts */

/* font weight 100 */
/* @font-face {
  font-family: "thin";
  src: url("./fonts/Roboto-Thin.ttf");
} */

/* font weight 300 */
/* @font-face {
  font-family: "light";
  src: url("./fonts/Roboto-Light.ttf");
} */
@font-face {
  font-family: "light";
  src: url("./fonts/Segoe UI.ttf");
}

/* font weight 400 */
/* @font-face {
  font-family: "regular";
  src: url("./fonts/Roboto-Regular.ttf");
} */
@font-face {
  font-family: "regular";
  src: url("./fonts/Segoe UI.ttf");
}

/* font weight 500 */
/* @font-face {
  font-family: "medium";
  src: url("./fonts/Roboto-Medium.ttf");
} */

/* font weight 700 */
/* @font-face {
  font-family: "bold";
  src: url("./fonts/Roboto-Bold.ttf");
} */
@font-face {
  font-family: "bold";
  src: url("./fonts/Segoe UI Bold.ttf");
}

/* font weight 900 */
/* @font-face {
  font-family: "black";
  src: url("./fonts/Roboto-Black.ttf");
} */
@font-face {
  font-family: "black";
  src: url("./fonts/segoe-ui-612.ttf");
}

/* tooltips */
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
